<% layout('layouts/boilerplate') %>
  <h1>All Accommodations!</h1>
  <div>
    <a href="/accommodations/new">Add Accommodation</a>
  </div>
  <% for (let accommodation of accommodations) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <img class="img-fluid" src="<%= accommodation.image %>" alt="">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= accommodation.title %></h5>
            <p class="card-text"><%= accommodation.description %></p>
            <p class="card-text">
              <small class="text-muted"><%= accommodation.location %></small>
            </p>
            <a href="/accommodations/<%= accommodation._id %>" class="btn btn-primary">View <%= accommodation.title %></a>
          </div>
        </div>
      </div>
    </div>
  <% } %>