<% layout('layouts/boilerplate') %>
  <h1><%= accommodation.title %></h1>
  <h2><%= accommodation.location %></h2>
  <img src="<%= accommodation.image %>" alt="">
  <p><%= accommodation.description %></p>
  <p>
    <a href="/accommodations/<%= accommodation._id %>/edit">Edit</a>
  </p>
  <p>
    <form action="/accommodations/<%= accommodation._id %>?_method=DELETE" method="POST">
      <button>Delete</button>
    </form>
  </p>
  <footer>
    <a href="/accommodations">All Accommodations</a>
  </footer>